asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
defusedxml==0.7.1
Django==5.2
djangorestframework==3.16.0
httpie==3.2.4
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.4.3
Pygments==2.19.1
PySocks==1.7.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
